body {
  background-color: #4B7399;
  font-family: 'Lucida Grande',sans-serif;
  font-size: 0.75em;
  color: #333333;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

input.button {
  background: url(/images/round-btn.gif) top left no-repeat;
  width: 115px;
  height: 32px;
  border: 0px;
  font-size: 120%;
  color: #666;
}

/* FLITS FORM */
#new_flit_form {
  width: 521px;
  margin-bottom: 25px;
}
#new_flit_form textarea {
  width: 521px;
  height: 44px;
}
#new_flit_form h3 {
  font-weight: normal;
  font-size: 150%;
  margin: 0px;
  padding: 0px 0px 5px 0px;
}
#new_flit_form #latest_message {
  color: #666;
  font-size: 90%;
  padding-top: 3px;
  float: left;
  width: 360px;
}
#new_flit_form #submit_button_container {
  float: right;
  width: 160px;
  text-align: right;
  padding-top: 3px;
}

/* FLITS LIST */
#flits_list {
  margin: 0px;
  padding: 0px;
  width: 521px;
}
#flits_list li {
  list-style: none;
  padding: 10px 0px;
  margin: 0px;
  background-color: #fff;
  border-bottom: 1px dashed #D2DADA;
}
#flits_list li.first {
  border-top: 1px dashed #D2DADA;
}
#flits_list li:hover {
  background-color: #F7F7F7;
}
#flits_list li img {
  float: left;
}
#flits_list li div.flit_message_container {
  float: left;
  margin-left: 10px;
}
#flits_list li div.flit_message_container a {
  color: #2276bb;
  text-decoration: none;
  font-weight: bold;
}
#flits_list li div.flit_message_container div.time_ago {
  color: #9C9C9C;
  font-size: 90%;
  padding-top: 3px;
}






#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
